:root{
    --black: #1E1E1E;
    --gray300: #393939;
    --gray100:#D9D9D9;
    --gray200:#8A8989;
    --white: #fff;

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--gray100);
    font-family: "Jockey One";
}
.navbar{
    background-color: var(--gray100);
}
.container{
    background-color: var(--black);
    border-radius: 10px;
    padding: 15px;
}
.nav-link{
    color: var(--gray100);
}
.nav-link:hover{
    color: var(--gray200);
}

main{
    padding-top: 10px;
    padding-bottom: 70px;
}

.rodape{
    background-color: var(--black);
    color: var(--gray100);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
.rodape-p{
    font-family: "Inter";
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;
   
}

/*index*/
#carouselExample{
    width: 550px;
    
}
.carousel-inner{
    border-radius: 10px 0px 0px 10px;
}
.col{
    color: var(--gray100);
}
.box-logo{
    display: flex;
    align-items: first baseline;
    padding-top: 50px;
    gap: 15px;

}
.box-p{
    text-align: left;
    padding: 15px;
    font-family: "Inter";
}

/*Login*/
.main-login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-box{
    text-align: left;
    gap: 10px;
    width: 400px;
    height: 400px;
    background-color: var(--black);
    border-radius: 10px;
    padding: 10px;
    font-family: "Inter"; 
    font-weight: bold;
}
.box-logo-login{
    color: var(--gray100);
    display: flex;
    align-items: baseline;
    gap: 15px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    font-family: "Jockey one";
}
#btn-login{
    background-color: var(--black);
    border-color: var(--gray100);
    color: var(--gray100);
    padding: 2px 150px 2px 150px;
    font-family: "Inter";
    font-weight: bold;
    
    
}
#btn-login:hover{
    background-color:var(--gray100);
    color: var(--black);
    border-color: var(--black);   
}
.box-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}


/*Artistas*/
.main-artistas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div-main-artistas{
    width: 1320px;
    height:  150px;
    text-align: left;
}
#input-artistas{
    font-family: "Inter";
}

#btn-artistas{
    background-color: var(--black);
    border-color: var(--gray100);
    color: var(--gray100);
    padding: 2px 50px 2px 50px;
    font-family: "Inter";
    font-weight: bold;
    
}
#btn-artistas:hover{
    background-color:var(--gray100);
    color: var(--black);
    border-color: var(--black);   
}
/*Resultado da pesquisa*/
.results-list-artist{
    width: 1320px;
    height:  150px;
    text-align: left;

}
.nome-img-artist{
    width: 1320px;
    color: var(--gray100);
    background-color: var(--black);
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 15px;
    border-radius: 10px;
    padding: 10px;
}
.nome-img-artist h1{
    padding-top: 60px;
}
.img-artist{
    border-radius: 10px 0px 0px 10px; 
}



